/data
/__pycache__
/.vs
experiments_full/results_ranked.json
experiments_full/histories/cfg1_history.json
experiments_full/histories/cfg2_history.json
experiments_full/histories/cfg3_history.json
experiments_full/histories/cfg4_history.json
experiments_full/histories/cfg5_history.json
experiments_full/histories/cfg6_history.json
experiments_full/histories/cfg7_history.json
experiments_full/histories/cfg8_history.json
experiments_full/histories/cfg9_history.json
experiments_full/histories/cfg10_history.json
experiments_full/models/cfg1.pt
experiments_full/models/cfg2.pt
experiments_full/models/cfg3.pt
experiments_full/models/cfg4.pt
experiments_full/models/cfg5.pt
experiments_full/models/cfg6.pt
experiments_full/models/cfg7.pt
experiments_full/models/cfg8.pt
experiments_full/models/cfg9.pt
experiments_full/models/cfg10.pt
experiments_full/plots/all_val_acc.png
experiments_full/plots/all_val_loss.png
experiments_full/plots/cfg1.png
experiments_full/plots/cfg2.png
experiments_full/plots/cfg3.png
experiments_full/plots/cfg4.png
experiments_full/plots/cfg5.png
experiments_full/plots/cfg6.png
experiments_full/plots/cfg7.png
experiments_full/plots/cfg8.png
experiments_full/plots/cfg9.png
experiments_full/plots/cfg10.png
